body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* influencer-products starting styles */


.influencer-products{
   padding: 100px;
   
}


h3{
    font-size: 30px;
}



.start-as-influencer{

    display: flex;
    
}


.starting-details{
    height: 270px;
    width: 582px;
    left: 120px;
    top: 285px;
    border-radius: 41px;
    
}


 h1{
    height: 133px;
width: 582px;
border-radius: nullpx;
font-weight: 700;
font-size: 55px;
}


.camera{
height: 414px;
width: 440px;
left: 835px;
top: 211px;
border-radius: 0px;
transition: width 1s, height 1s, transform 5s;

}
/* hover animation */

.camera:hover{
    width: 460px;
    height: 425px;
    transform: rotate(180deg);
}


.button, .details a{  
background-image: linear-gradient(#e66465, #9198e5);
height: 25px;
width: 150px;
left: 156px;
top: 200px;
border-radius: 10px;
padding: 10px 25px;

border-radius: 8px;
margin-top: 50px;
}

.button a, .details a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}


/* product collections styles */


.populer-collections{
    height: 1100px;
    width: 1047px;
    border-radius: [object Object]px;
    
    padding-left: 100px;
    padding-right: 100px;
}


.populer-collections h3{
text-align: center;
}


.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    justify-items: center;
    
}

.collection{
    height: 415px;
    width: 250px;
    border-radius: 5px;  
    background-color: rgb(255, 255, 255);
    padding: 20px;
   box-shadow: 5px 5px 5px 5px rgb(221, 218, 218);
    
}

.product-details{
    margin-top: 0;
    margin-left: 5px;
}

.product-tile{
    font-family: Poppins;
font-size: 28px;
font-weight: 500;
text-align: left;
letter-spacing: 0em;
text-align: left;
}

.product-price{ 
font-size: 24px;
font-weight: 400;

letter-spacing: 0em;
text-align: left;
}

.collection .thumbnail img{
 height: 256px;
width: 250px;

border-radius: 5px;

}
.product-info{
    width: 110px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    margin-top: 0;
}
.fa-star{
    color: orange;
    font-size: 12px;
}
#see-more{
   text-align: right;
   
}

h4 a{
    text-decoration: none;

}

/* bonus section styles */

.bonus-sec{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.bonus-sec img{
    height: 414px;
    width: 440px;
    
    
}
.details{
    height: 270px;
     width: 582px;
     padding-left: 20px;
    padding-right: 70px;
}

/* footer style */

.footer{
    text-align: center;
   height: 250px;
    width: inherit;
    background-color: rgb(26, 20, 29);
    
}

.footer-text{
    color: white;
    padding-top: 20px;
}
.footer-icons{
    color: white;
    font-size: 30px;
    display: inherit;
}
/* media queries */

/* mobile devieces */
@media only screen and (max-width:688px){
body{
    height: inherit;
}
    .influencer-products{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .populer-collections{
        grid-template-columns: repeat(1,1fr);
    }

}